<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body bgcolor="cyan">
  	<a href="https://imgbb.com/"><img src="https://i.ibb.co/2F1k39M/download.png" alt="CHARUSAT LOGO" border="0" style="float: left;width:250px;height:70px;"></a>
  	<a href="https://imgbb.com/"><img src="https://i.ibb.co/mbJGJss/depstar-Logo.png" alt="DEPSTAR LOGO" border="0" style="float: right;width:100px;height:70px;"></a>
  	<h1 align="center" style="font-size: 45;float: center">Dynamic Traffic Management System</h1>
    <pre align="center" style="font-size: 35;float: center">     Video Streaming Demonstration</pre> 
    <img src="{{ url_for('calc') }}" style="float: center">
  	<br/>
  </body>
</html>
